html, body {
  margin: 0; /* Bỏ margin mặc định */
  padding: 0; /* Bỏ padding mặc định */
  height: 100%; /* Đảm bảo chiều cao 100% cho body */
  overflow: hidden; /* Ẩn thanh cuộn */
}

.app {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; /* Đặt chiều hướng của flex là cột */
  min-height: 100vh; /* Đảm bảo chiều cao tối thiểu của ứng dụng là 100% chiều cao của viewport */
}

.flex-1 {
  display: flex;
  flex-direction: column; /* Đặt chiều hướng của flex là cột */
  flex: 1; /* Cho phép phần thân chiếm không gian còn lại */
}

.bodyWeb {
  flex: 1; /* Cho phép phần thân chiếm không gian còn lại */
  padding: 20px;
  margin-bottom: 40px; /* Tạo khoảng cách giữa bodyWeb và footer */
  overflow-y: auto; /* Thêm cuộn nếu nội dung vượt quá chiều cao */
}

.footer {
  padding: 10000px;
  background-color: #333; /* Màu nền cho footer */
  color: white; /* Màu chữ cho footer */
  text-align: center; /* Căn giữa nội dung trong footer */
}